@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #5b21b6, #1e40af);
  height: 100vh;
}

.container {
  margin: 40vh auto 0 auto;
  background-color: rgb(236, 236, 236);
  width: 90%;
  border-radius: 10px;
}

.check-all-checkbox-container{
padding: 20px 0 10px 20px;
border-radius: 10px 10px 0 0;
background-color: antiquewhite;
margin-bottom: 15px;
}

.check-all-checkbox-container >input,
.checkbox >input {
  margin-right: 5px;
}
.checkboxes-container{
  padding:5px 20px 20px;
}
